.contactContainer {
  padding: 20px;
  border-radius: 4px;
  border: 2px solid gray;
  width: 380px;
  margin-bottom: 20px;
  display: flex;
  background-color: aqua;
  justify-content: space-between; /* Розташування елементів зліва і справа */
  align-items: center; /* Вирівнювання елементів по вертикалі */
}

.contactContainer:hover {
  border: 3px solid brown;
  scale: 1.02;
}

.infoBlock {
  display: flex;
  gap: 10px;
  align-items: center; /* Вирівнювання елементів по вертикалі */
}

.icon {
  width: 16px;
  margin-right: 10px;
}
.infoLink {
  color: black;
}
.infoLink:hover {
  color: blue;
  scale: 1.04;
}

.buttonDelete {
  border-radius: 8px;
  border: 1px solid rgb(61, 60, 60);
  padding: 7px 12px;
  cursor: pointer;
  background-color: aqua;
  color: blueviolet;
}
.buttonDelete:hover {
  color: white;
  font-weight: bold;
  border-color: black;
}
