.title,
.text {
  margin-bottom: 30px;
  color: rgb(42, 41, 41);
}

.inputArea:hover {
  border-color: blue;
}

.form {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(81, 101, 215);
  width: 380px;
  border: 3px solid rgb(67, 66, 66);
  color: white;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.field {
  padding: 5px;
  background-color: rgb(203, 201, 201);
  cursor: text;
  width: 95%;
}
.field:hover {
  border: 2px solid grey;
  background-color: rgb(214, 213, 213);
}

.btnAdd {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  background-color: #3c1cf0;
  border-radius: 4px;
  padding: 10px;
  color: rgb(157, 255, 0);
  cursor: pointer;
}

.btnAdd:hover {
  color: black;
  font-weight: bold;
  background-color: #c2ef0f;
}
.errorMess {
  color: red;
}
